<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="/public/css/admin/global.css" type="text/css">
<link rel="stylesheet" href="/public/css/admin/style.css" type="text/css">
<script src="/public/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
	$.ajax({
        url:'/admin/admin/isLogin',
        type:'GET',
        success: function (data) {
            if (data.code != 200) {
                location.href = '/admin/login.html';
            }
        }
    })
</script>
<style type="text/css">
	.myhide {
		display: none;
	}
	.myerror {
		color:red;
	}
</style>
</head>
<body>
<div class="header lr10">
   	<h3 class="nav_icon">添加管理员</h3></div>
<div class="bk10"></div>

<div class="table_form lr10">
<table width="100%" class="lr10">
    <tr>
    	<td width="80">用户名</td>
   		<td><input type="text" name="username"  class="input-text" id="username" placeholder="请输入1-15字符"></input><span id="usernameEmpty" class="myhide myerror">用户名不能为空</span><span id="usernameLong" class="myhide myerror">用户名太长</span><span id="isExit" class="myhide myerror">该用户已经存在</span></td>
    </tr>
    <tr>
    	<td>密码</td>
    	<td><input type="password" name="password" class="input-text" id="password" value=""></input><span id="passwordEmpty" class="myhide myerror">密码不能为空</span></td>
    </tr>
    <tr>
    	<td>确认密码</td> 
    	<td><input type="password" name="pwdconfirm" class="input-text" id="pwdconfirm" value=""></input><span id="passwordNotSame" class="myhide myerror">两次密码不相等</span></td>
    </tr>
</table>
   	<div class="bk15"></div>
    <input type="button" value=" 提交 " id="dosubmit" class="button">
</div><!--table-list end-->
<script type="text/javascript">
	var usernameIsOk = true;
	var passwordIsOk = true;
	var pwdconfirmIsOk = true;
	var isExitIsOk = true;
	var usernameHandler = function () {
		username = document.getElementById("username").value;
		if (username.length == 0) {
			$("#usernameEmpty").removeClass("myhide");
			usernameIsOk = false;
		} else {
			$("#usernameEmpty").addClass("myhide");
			usernameIsOk = true;
		}
		if (username.length > 15) {
			$("#usernameLong").removeClass("myhide");
			usernameIsOk = false;
		} else{
			$("#usernameLong").addClass("myhide");
			usernameIsOk = true;
		}
	}
	var passwordHandler = function () {
		password = document.getElementById("password").value;
		if (password.length == 0) {
			$("#passwordEmpty").removeClass("myhide");
			passwordIsOk = false;
		} else {
			$("#passwordEmpty").addClass("myhide");
			passwordIsOk = true;
		}
	}
	var pwdconfirmHandler = function () {
		var pwdconfirm = document.getElementById("pwdconfirm").value;
		if (password != pwdconfirm) {
			$("#passwordNotSame").removeClass("myhide");
			pwdconfirmIsOk = false;
		} else {
			$("#passwordNotSame").addClass("myhide");
			pwdconfirmIsOk = true;
		}
	}
	document.getElementById("username").onblur = usernameHandler;
	document.getElementById("username").onchange = function (event) {
		isExitIsOk = true;
		$("#isExit").addClass("myhide");
	}
	document.getElementById("password").onblur = passwordHandler;
	document.getElementById("pwdconfirm").onblur = pwdconfirmHandler;
	document.getElementById("dosubmit").onclick = function (event) {
		usernameHandler();
		passwordHandler();
		pwdconfirmHandler();
		if (usernameIsOk && passwordIsOk && pwdconfirmIsOk && isExitIsOk) {
			event.target.value = "提交中";
			event.target.disabled = true;
			$.ajax({
				url: "/admin/admin/register",
				type: "POST",
				data: {
					username: username,
					password: password
				},
				success: function (data) {
					if (data.code == 405) {
						$("#isExit").removeClass("myhide");
						isExitIsOk = false;
						event.target.value = "提交";
						event.target.disabled = false;
					} else if (data.code == 200) {
						location.href = "/views/admin/adminList.html";
					}
				}
			});
		}
	}
</script>
</body>
</html> 