<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="/public/css/admin/global.css" type="text/css">
<link rel="stylesheet" href="/public/css/admin/style.css" type="text/css">
<script type="text/javascript" src="/public/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $.ajax({
        url:"/admin/admin/isLogin",
        type:"GET",
        success: function (data) {
            if (data.code != 200) {
                location.href = "/admin/login.html";
            }
        }
    });
</script>
<link rel="stylesheet" type="text/css" href="/public/webuploader/webuploader.css">
<script type="text/javascript" src="/public/webuploader/webuploader.js"></script>
<style>
table th{ border-bottom:1px solid #eee; font-size:12px; font-weight:100; text-align:right; width:200px;}
table td{ padding-left:10px;}
input.button{ display:inline-block}
</style>
</head>
<body>
<div class="header lr10">
	<h3 class="nav_icon">修改幻灯片</h3></div>
<div class="bk10"></div>
<div class="table_form lr10">
<!--start-->
  <table width="100%" cellspacing="0">
	<tr>
    	<td width="120" align="right">图片:</td>
        <td>
	        <div id="imgUrlList" class="uploader-list"></div>
            <div id="imgUrlPicker" class="webuploader-container">选择图片</div>
            <input style="display: none;" type="text" name="imgUrl" id="imgUrl"/>
        </td>
    </tr>
    <tr>
        <td width="120" align="right">图片:</td>
        <td>
            <div id="mobileImgUrlList" class="uploader-list"></div>
            <div id="mobileImgUrlPicker" class="webuploader-container">选择图片</div>
            <input style="display: none;" type="text" name="mobileImgUrl" id="mobileImgUrl"/>
        </td>
    </tr>
	<tr>
		<td width="120" align="center">幻灯点击后的链接</td>
		<td>
			<input type="text" id="url" value="" class="input-text wid300" />
		</td>
	</tr>
	<tr>
		<td width="120" align="center">是否显示</td>
		<td>
			<select id="isOn">
				<option value="1">是</option>
				<option value="0">否</option>
			</select>
		</td>
	</tr>
	<tr>
    	<td width="120" align="center"></td>
        <td>		
        <input type="submit" class="button" id="submit" value="提交">
        </td>
	</tr>
</table>
</div><!--table-list end-->

<script>
function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
}
$(document).ready(function () {
    $.ajax({
      url : "/admin/banner/bannerEdit"+location.search,
      type: "GET",
      success: function (data) {
        if (data.code == 200) {
            var arr = data.data;
            if (arr.length > 0) {
                $("#imgUrlList").html('<div class="file-item thumbnail">' +
                    '<img width="350" src="'+arr[0].imgUrl+'">' +
                '</div>')
                $("#mobileImgUrlList").html('<div class="file-item thumbnail">' +
                    '<img width="350" src="'+arr[0].mobileImgUrl+'">' +
                '</div>')
                document.getElementById("imgUrl").value = arr[0].imgUrl;
                document.getElementById("mobileImgUrl").value = arr[0].mobileImgUrl;
                document.getElementById("url").value = arr[0].url;
                document.getElementById("isOn").value = arr[0].isOn;

            }
        }
      }  
    })
    document.getElementById("submit").onclick = function () {
        var id = getQueryString("id");
    	var imgUrl = document.getElementById("imgUrl").value;
    	var url = document.getElementById("url").value;
    	var isOn = document.getElementById("isOn").value;
    	$.ajax({
    		url: "/admin/banner/updateBanner",
    		type: "POST",
    		data: {
                id : id,
    			imgUrl : imgUrl,
    			url : url,
    			isOn : isOn
    		},
    		success: function (data) {
    			if (data.code == 200) {
    				location.href = "/views/admin/bannerList.html";
    			}
    		}
    	})
    }

});
//展示图上传
jQuery(function() {
    var $ = jQuery,
        $imgUrlList = $('#imgUrlList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;

    // 初始化Web Uploader
    uploader = WebUploader.create({

        // 自动上传。
        auto: true,

        // swf文件路径
        swf: '/public/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '/uploader/banner/imgUrl',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#imgUrlPicker',

        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $imgUrlList.html( $li );

        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file, response ) {
        if (response.code == 200) {
            $('#imgUrl').val(response.data);
        }
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
jQuery(function() {
    var $ = jQuery,
        $mobileImgUrlList = $('#mobileImgUrlList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;

    // 初始化Web Uploader
    uploader = WebUploader.create({

        // 自动上传。
        auto: true,

        // swf文件路径
        swf: '/public/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '/uploader/banner/imgUrl',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#mobileImgUrlPicker',

        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $mobileImgUrlList.html( $li );

        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file, response ) {
        if (response.code == 200) {
            $('#mobileImgUrl').val(response.data);
        }
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
</script>
</body>
</html> 