<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台首页</title>
<link rel="stylesheet" href="/public/css/admin/global.css" type="text/css">
<link rel="stylesheet" href="/public/css/admin/style.css" type="text/css">
<script src="/public/js/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/public/css/admin/calendar-blue.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="/public/js/admin/calendar.js"></script>
<style>
    .bg{background:#fff url(/public/img/admin/ruler.gif) repeat-x scroll 0 9px }
    .color_window_td a{ float:left; margin:0px 10px;}
</style>

<link rel="stylesheet" type="text/css" href="/public/webuploader/webuploader.css">
<script type="text/javascript" src="/public/webuploader/webuploader.js"></script>
<script type="text/javascript">
    $.ajax({
        url:'/admin/admin/isLogin',
        type:'GET',
        success: function (data) {
            if (data.code != 200) {
                location.href = '/admin/login.html';
            }
        }
    })
</script>
</head>
<body>
<script>
$.ajax({
    url: '/admin/category/categoryList',
    type: 'GET',
    success: function (data) {
        if (data.code == 200) {
            var arr = data.data;
            var str = '';
            for (var i = 0;i < arr.length; i++) {
                str += '<option value='+arr[i]['id']+'>'+arr[i]['name']+'</option>';
            }
            $('#category').html(str);
        }
        
    }
});
$.ajax({
    url: '/admin/brand/getAllBrand',
    type: 'GET',
    success: function (data) {
        if (data.code == 200) {
            var arr = data.data;
            var str = '';
            for (var i = 0; i < arr.length; i++) {
                str += '<option value='+arr[i]['id']+'>'+arr[i]['name']+'</option>';
            }
            $('#brand').html(str);
        }
        
    }
});

function CheckForm(){
    var money = parseInt($("#money").val());
        if(money >= 100000){
            window.parent.message("价格大于10万，商品添加会很慢,请耐心等待，不要关闭窗口!",1,5);
        }
        return true;
}

</script>
<div class="header lr10">
    <h3 class="nav_icon">添加商品</h3>
</div>
<div class="bk10"></div>
<div class="table_form lr10">
    <table width="100%"  cellspacing="0" cellpadding="0">
        <tr>
            <td align="right" style="width:120px"><font color="red">*</font>所属分类：</td>
            <td>
            <select id="category" name="categoryId">
                <option value="0">≡ 加载中 ≡</option>
            </select>
            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px"><font color="red">*</font>所属品牌：</td>
            <td>
                <select id="brand" name="brandId">
                    <option value="0">≡ 加载中 ≡</option>
                </select>
            </td>
        </tr>

        <tr>
            <td align="right" style="width:120px"><font color="red">*</font>商品标题：</td>
            <td>
            <input  type="text" id="title"  name="title" onKeyUp="return gbcount(this,100,'texttitle');"  class="input-text wid400 bg">

            <span style="margin-left:10px">还能输入<b id="texttitle">100</b>个字符</span>

            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px">副标题：</td>
            <td><input  type="text" id="title2" name="subTitle" onKeyUp="return gbcount(this,100,'texttitle2');"  class="input-text wid400">
            <span class="lr10">还能输入<b id="texttitle2">100</b>个字符</span>
            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px">关键字：</td>
            <td><input type="text" name="keywords" id='keywords' class="input-text wid300" />
            <span class="lr10">多个关键字请用   ,  号分割开</span>
            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px">商品描述：</td>
            <td><textarea name="description" id="description" class="wid400" onKeyUp="gbcount(this,250,'textdescription');" style="height:60px"></textarea><br /> <span>还能输入<b id="textdescription">250</b>个字符</span>
            </td>
        </tr>
        <tr style="background-color:#FFC">
            <td style="width:120px"></td>
            <td>
                <b>提示：</b> 商品总价必须是单词价格的倍数！
            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px"><font color="red">*</font>商品总价格：</td>
            <td><input type="text" id="money"  name="price" onKeyUp="value=value.replace(/\D/g,'')" style="width:65px; padding-left:0px; text-align:center" class="input-text">元</td>
        </tr>
        <tr id="limit_n" >
            <td align="right" style="width:120px"><font color="red">*</font>购买单次价格：</td>
            <td><input type="radio" name="singlePrice" value="1" checked>&nbsp1元&nbsp&nbsp<input type="radio" name="singlePrice" value="10">&nbsp10元</td>
        </tr>
        <tr>
            <td align="right" style="width:120px"><font color="red">*</font>是否上架：</td>
            <td><input type="radio" name="isOn" value="1" checked>&nbsp上架&nbsp&nbsp<input type="radio" name="isOn" value="0">&nbsp下架</td>
        </tr>
        <tr>
         <td align="right" style="width:120px"><font color="red">*</font>缩略图：</td>
        <td>
                <!--用来存放item-->
                <div id="thumbnailList" class="uploader-list"></div>
                <div id="thumbnailPicker" class="webuploader-container">选择图片</div>
                <input style="display:none;" type="text" name="thumbnailUrl" id="thumbnailUrl"/>
        </td>
      </tr>
        <tr>
            <td align="right" style="width:120px">展示图片：</td>
            <td><fieldset class="uploadpicarr">
                    <legend>列表</legend>
                    <div class="picarr-title">最多可以上传<strong>5</strong> 张图片<div id="showPicker" class="webuploader-container">选择图片</div>
                    </div>
                    <div id="showList" class="uploader-list"></div>
                    <input style="display:none;" type="text" name="imgUrls" id="showUrl"></input>
                </fieldset>
             </td>
        </tr>
        <tr>
            <td height="300" style="width:120px;"  align="right"><font color="red">*</font>商品内容详情：</td>
            <td style="max-width: 1000px;">
                <script name="content" id="myeditor" type="text/plain"></script>
                <script type="text/javascript" src="/public/ueditor/ueditor.config.js"></script>
                <script type="text/javascript" src="/public/ueditor/ueditor.all.js"></script>
                <script type="text/javascript">
                    //实例化编辑器
                    var ue = UE.getEditor('myeditor');

                    ue.addListener('ready',function(){
                        this.focus();
                    });

                    var info=new Array();
                    function gbcount(message,maxlen,id){

                        if(!info[id]){
                            info[id]=document.getElementById(id);
                        }
                        var lenE = message.value.length;
                        var lenC = 0;
                        var enter = message.value.match(/\r/g);
                        var CJK = message.value.match(/[^\x00-\xff]/g);//计算中文
                        if (CJK != null) lenC += CJK.length;
                        if (enter != null) lenC -= enter.length;
                        var lenZ=lenE+lenC;
                        if(lenZ > maxlen){
                            info[id].innerHTML=''+0+'';
                            return false;
                        }
                        info[id].innerHTML=''+(maxlen-lenZ)+'';
                    }

                    function deleteImg (id) {
                        var imgUrls = $('#showUrl').val();
                        imgUrls = imgUrls.split(',');
                        var ele = $('#'+id+' img');
                        src = ele.attr('src');
                        var index = imgUrls.indexOf(src);
                        imgUrls.splice(index,1);
                        $('#showUrl').val(imgUrls.join(','));
                        $('#'+id).css('display','none');
                    }
                //API JS
                //window.parent.api_off_on_open('open');
                </script>
                <style>
                .content_attr {
                    border: 1px solid #CCC;
                    padding: 5px 8px;
                    background: #FFC;
                    margin-top: 6px;
                    width:915px;
                }
                </style>
            </td>
        </tr>
        <tr>
            <td align="right" style="width:120px">商品属性：</td>
            <td width="900">
             <input name="isRecommend" id="isRecommend" value="1" type="checkbox" />&nbsp;推荐&nbsp;&nbsp;
             <input name="isHot" value="1" id="isHot" type="checkbox" />&nbsp;人气&nbsp;&nbsp;
              <input name="isNew" value="1" id="isNew" type="checkbox" />&nbsp;最新&nbsp;&nbsp;
            </td>
        </tr>
        <tr height="60px">
            <td align="right" style="width:120px"></td>
            <td><input type="submit" class="button" value="添加商品" onclick="addProduct(this)"/></td>
        </tr>
    </table>
</div>
 <span id="title_colorpanel" style="position:absolute; left:568px; top:155px" class="colorpanel"></span>
 <script type="text/javascript">
     function addProduct(e) {
        // alert(UE.getEditor('myeditor').getContent());
        e.value = '添加中';
        e.disabled = true;
        var isRecommend = document.getElementById('isRecommend');
        var isHot = document.getElementById('isHot');
        var isNew = document.getElementById('isNew');

        isRecommend = isRecommend.checked ? 1 : 0;
        isHot = isHot.checked ? 1 : 0;
        isNew = isNew.checked ? 1 : 0;
        var data = {},
            setData = function (key,val) {
                if (val != '') {
                    data[key] = val;
                }
            };

        setData('categoryId',$('#category').val());
        setData('brandId',$('#brand').val());
        setData('title',$('#title').val());
        setData('subTitle',$('#title2').val());
        setData('keywords',$('#keywords').val());
        setData('description',$('#description').val());
        setData('price',$('#money').val());
        setData('singlePrice',$('[name="singlePrice"]:checked').val());
        setData('isOn',$('[name="isOn"]:checked').val());
        setData('thumbnailUrl',$('#thumbnailUrl').val());
        setData('imgUrls',$('#showUrl').val());
        setData('content',UE.getEditor('myeditor').getContent());
        setData('isRecommend',isRecommend);
        setData('isHot',isHot);
        setData('isNew',isNew);
        $.ajax({
            url: "/admin/product/addProduct",
            type: "POST",
            data: data,
            success: function (data) {
                if (data.code == 200) {
                    location.href = '/views/admin/productList.html';
                }
            },
            error: function (error) {
                console.log(error);
                e.value = '添加商品';
                e.disabled = false;
            }
        });
    }
 </script>
<script type="text/javascript">

// 缩略图上传
jQuery(function() {
    var $ = jQuery,
        $thumbnailList = $('#thumbnailList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;

    // 初始化Web Uploader
    uploader = WebUploader.create({

        // 自动上传。
        auto: true,

        // swf文件路径
        swf: '/public/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '/uploader/product/thumbnail',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#thumbnailPicker',

        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail" style="display:inline-block;margin-right:10px;">' +
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $thumbnailList.html( $li );

        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file, response ) {
        if (response.code == 200) {
            $('#thumbnailUrl').val(response.data);
        }
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
//展示图上传
jQuery(function() {
    var $ = jQuery,
        $showList = $('#showList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;

    // 初始化Web Uploader
    uploader = WebUploader.create({

        // 自动上传。
        auto: true,

        // swf文件路径
        swf: '/public/webuploader/Uploader.swf',

        // 文件接收服务端。
        server: '/uploader/product/show',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#showPicker',

        // 只允许选择文件，可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });

    // 当有文件添加进来的时候
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail" style="display:inline-block;margin-right:10px;margin-left:10px;">' +
                    '<img>' +
                    '<div class="info" style="text-align:center;"><a href="javascript:void(0)" onclick="deleteImg(\''+file.id+'\')">删除</a></div>' +
                '</div>'
                ),
            $img = $li.find('img');

        $showList.append( $li );

        // 创建缩略图
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }

            $img.attr( 'src', src );
        }, thumbnailWidth, thumbnailHeight );
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
        }

        $percent.css( 'width', percentage * 100 + '%' );
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on( 'uploadSuccess', function( file, response ) {
        if (response.code == 200) {
            var showUrlVal = $('#showUrl').val()
            if (showUrlVal == "") {
                $('#showUrl').val(response.data);
            } else {
                $('#showUrl').val(showUrlVal+','+response.data);
            }
        }
        $( '#'+file.id ).addClass('upload-state-done');
    });

    // 文件上传失败，现实上传出错。
    uploader.on( 'uploadError', function( file ) {
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    });
});
</script>
</body>
</html>