<ion-view view-title="积分记录" class="banlance-page" cache-view=false>

	<ion-nav-bar class="bar-stable">
    	<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-content scrollbar-y="false">
		<ion-refresher pulling-text="下拉刷新.." on-refresh="doRefresh()"></ion-refresher>
		<div class="nullRecord" ng-show="init && records.length==0">
			<img src="/public/img/mobile/null-record@2x.png"/>
		</div>
		<ul class="list">
			<li class="record" ng-repeat="record in records track by $index">

				<p class="method" ng-show="record.type==1">签到</p>
				<p class="method" ng-show="record.type==2">购买返还</p>
				<p class="method" ng-show="record.type==3">邀请码注册</p>
				<p class="method" ng-show="record.type==4">兑换余额</p>
				<p class="method" ng-show="record.type==5">晒单成功</p>

				<p class="amount pay" ng-show="record.type==4">{{(record.amount-0).toFixed(2)}}</p>
				<p class="amount income" ng-hide="record.type==4">+ {{(record.amount-0).toFixed(2)}}</p>

				<p class="time">{{record.time}}</p>
			</li>
		</ul>
		<ion-infinite-scroll ng-if="init && records.length > 0 && hasMoreData" on-infinite="getCredit()" distance="2%" immediate-check=false></ion-infinite-scroll>
	</ion-content>
	
</ion-view>