<ion-modal-view>
	<ion-header-view class="bar bar-header bar-stable">
		<h1 class="title">注册帐号</h1>
		<button class="button button-icon icon ion-android-close" ng-click="registerModal.hide()"></button>
	</ion-header-view>
	<ion-content class="padding has-header modal-login">
		<form name="registerForm" novalidate>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">手机号</span>
					<input name="phone" placeholder="手机号码" pattern="\d*" ng-model="registerUser.phone" type="text" ng-pattern="/^(1[3-9]\d{9}$)/" required>
				</label>
				<label class="item item-input">
					<span class="input-label">验证码</span>
					<input name="code" type="text" pattern="\d*" placeholder="6位验证码" ng-model="registerUser.code" ng-minlength="6" ng-maxlength="6" required ng-click="$event.stopPropagation();">
				</label>
				<label class="item item-input">
					<span class="input-label">密码</span>
					<input name="password" placeholder="6-20位密码" ng-model="registerUser.password" type="password" ng-minlength="6" ng-maxlength="20" required>
				</label>
				<label class="item item-input">
					<span class="input-label">邀请码</span>
					<input name="invitedCode" ng-model="registerUser.invitedCode" placeholder="选填" type="text" ng-minlength="6" ng-maxlength="6">
				</label>
				<p class="main-color" style="margin-top:10px;" ng-show="registerForm.$dirty && registerForm.$invalid">手机、密码或验证码格式不正确</p>
				<button class="button button-stable code-button" 
						style="background-color:#DF3051;color:white;border-radius:0;z-index:999"
						ng-disabled="codeBtnDisabled || registerForm.phone.$invalid" 
						ng-click="sendCode(phone);$event.stopPropagation();">{{codeBtnText}}</button>
				<button class="button button-full login-btn"
						ng-disabled="registerForm.$invalid || registering" 
						ng-click="register()">{{registerBtnTxt}}</button>
				<p class="button button-full button-clear button-positive" ng-click="registerModal.hide();loginModal.show();">已有帐号？直接登录</p>
			</div>
		</form>
	</ion-content>
</ion-modal-view>