 <ion-modal-view class="share-page">
    <div class="share" ng-class="{'hide':pointer}" ng-click="share()"></div>

	<ion-header-view class="bar bar-header bar-stable">
		<h1 class="title">分享领红包</h1>
        <button class="button button-icon icon ion-android-close" ng-click="shareModel.hide()"></button>
	</ion-header-view>

	<ion-content scrollbar-y="false">
		<div class="invited-polite">
            <div class="invited-top">
                <img src="/public/img/mobile/invite.png">
                <a class="invite-button" ng-click="share()"></a>

            </div>
        </div>
        <div class="user">
            <hr class="left"><span>好友红包使用记录</span><hr class="right">
            <div class="invited-no-friend" ng-show="records.length == 0">
                <div class="invited-no">暂无记录</div>
                <div class="invited-message">好友还未使用红包,赶快积攒你的人气吧!</div>
            </div>
            <div class="invited-friend" ng-show="records.length > 0">
            	<ul class="invited-record">
            		<li class="user-record" ng-repeat="record in records track by $index">
            			<img ng-src="{{record.avatorUrl}}" class="avatar">
            			<p class="username">{{record.userName}}</p>
            			<p class="time">{{record.time}}<span class="tips">您获得1元红包</span></p>
            		</li>
            	</ul>
            </div>
        </div>
	</ion-content>
</ion-modal-view>